@import "syntax-variables";

.editor-colors {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
}

.editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

.editor .search-results .marker .region {
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

.editor .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.comment {
  color: lighten(@background, 30%);
  font-style: italic;

  .punctuation {
    color: lighten(@background, 30%);
  }
}

.entity {
  &.name.type {
    color: @purple;
  }

  &.other.inherited-class {
    color: darken(@purple, 10%);
    font-style: italic;
  }
}

.keyword {
  color: @dark-orange;

  &.control {
    color: @dark-orange;
  }

  &.operator {
    color: @syntax-text-color;
    
    &.logical {
      color: @blue;
    }
    
    &.assignment, &.comparison {
      color: @blue;
    }
  }

  &.other.special-method {
    color: @dark-orange;
  }

  &.other.unit {
    color: @orange;
  }
}

.storage {
  color: @purple;
}

.constant {
  color: @purple;

  &.character.escape {
    color: @yellow;
  }

  &.numeric {
    color: @yellow;
  }

  &.other.color {
    color: @cyan;
  }

  &.other.symbol {
    color: @red;

    .punctuation {
      color: @red;
    }
  }

  &.nil, &.boolean {
    color: @blue;
  }
}

.variable {
  color: @cream;

  &.interpolation {
    color: darken(@red, 10%);
  }

  &.parameter.function {
    color: @blue;
    font-style: italic;
  }

  &.instance {
    color: @cream;
    .punctuation {
      color: @cream;
    }
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.string {
  color: @dark-green;
  
  &.regexp {
    color: @red;
    
    .source.ruby.embedded {
      color: @red;
    }
    
    .punctuation.definition.string {
      color: @red;
    }
  }
  
  .embedded .source.ruby {
    color: white;
  }
  
  &.other.link {
    color: @red;
  }
}

.punctuation {
  &.definition {
    &.string {
      color: @dark-green;
    }

    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @blue;
    }

    &.bold {
      color: @light-orange;
      font-style: bold;
    }

    &.italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.section.embedded {
    color: white;
  }
  
  &.key-value {
    color: @blue;
  }
  
  &.separator {
    &.other {
      color: @blue;
    }
    
    &.variable {
      color: white;
    }
  }
}

.support {
  &.class {
    color: @cream;
  }

  &.function  {
    color: @cyan;

    &.any-method {
      color: @blue;
    }
  }
}

.entity {
  &.name.function {
    color: @light-orange;
  }

  &.name.class, &.name.type.class {
    color: @purple;
  }

  &.name.section {
    color: @blue;
  }

  &.name.tag {
    color: @red;
    text-decoration: underline;
  }

  &.other.attribute-name {
    color: @purple;

    &.id {
      color: @blue;
    }
  }
}

.meta {
  &.class {
    color: @light-orange;
  }

  &.link {
    color: @orange;
  }

  &.require {
    color: white;
  }

  &.selector {
    color: @purple;
  }

  &.separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.markup {
  &.bold {
    color: @orange;
    font-style: bold;
  }

  &.changed {
    color: @purple;
  }

  &.deleted {
    color: @red;
  }

  &.italic {
    color: @purple;
    font-style: italic;
  }

  &.heading .punctuation.definition.heading {
    color: @blue;
  }

  &.inserted {
    color: @green;
  }

  &.list {
    color: @red;
  }

  &.quote {
    color: @orange;
  }

  &.raw.inline {
    color: @green;
  }
}

.source.gfm .markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @green;
  }
}

.editor.mini .scroll-view {
  padding-left: 1px;
}
